01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/00_main_tree_T2/00_MCMCtree_prior
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/00_main_tree_T2/00_MCMCtree_prior_newchrono
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/00_main_tree_T2/01_MCMCtree_posterior
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/00_main_tree_T2/02_MCMCtree_posterior_newchrono
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/00_main_tree_T2/01_MCMCtree_posterior_old
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/00_main_tree_T2/visual_checks_MCMCtreeR/figs
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/00_main_tree_T2/visual_checks_MCMCtreeR/R_objects
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/01_alternative_tree_hypotheses/00_MCMCtree/
01_SeqBayes_S1/02_MCMCtree/00_MCMCtree_analyses/01_alternative_tree_hypotheses/00_MCMCtree_prior/

01_SeqBayes_S1/03_Fit_ST_to_posteriors/00_fitST/Rdata/post.divtimes.RData
01_SeqBayes_S1/03_Fit_ST_to_posteriors/00_fitST/Rdata/prior.divtimes.RData
01_SeqBayes_S1/03_Fit_ST_to_posteriors/00_fitST_new/Rdata/post.divtimes.RData
01_SeqBayes_S1/03_Fit_ST_to_posteriors/00_fitST_newchr/Rdata/post.divtimes.RData

02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_aln/extra_filtering/01_perl_parsing/aln*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_aln/extra_filtering/01_perl_parsing/fasta*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_aln/extra_filtering/01_perl_parsing/log*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_aln/extra_filtering/02_MAFFT_subt1/01_perl_parsing/[1-6]
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_aln/extra_filtering/02_MAFFT_subt1/02_mafft/mafft_lchiro1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_aln/extra_filtering/02_MAFFT_subt2/01_perl_parsing/[1-6]
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_aln/extra_filtering/02_MAFFT_subt2/02_mafft/mafft_lchiro2
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_therest/filter_aln/extra_filtering/00_perl_parsing/[1-6]*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_therest/filter_aln/extra_filtering/01_MAFFT/mafft_ltherest
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/00_perl_parsing/[1-6]*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/01_mafft/aln
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/02_tests_fukomys/test1/all_14sp
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/02_tests_fukomys/test1/mt*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/02_tests_fukomys/test1/nt*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/02_tests_fukomys/test2/MAFFT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/02_tests_fukomys/test2/NCBI_mtrna_fukomys_damarensis
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/02_tests_fukomys/test3/RAxML
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/03_mafft/aln
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_aln/extra_filtering/04_mafft_mitaln/aln
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_aln/extra_filtering/01_perl_parsing/aln*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_aln/extra_filtering/01_perl_parsing/fasta*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_aln/extra_filtering/01_perl_parsing/log*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_aln/extra_filtering/02_MAFFT_subt1/01_perl_parsing/[1-6]*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_aln/extra_filtering/02_MAFFT_subt1/02_mafft/mafft_rodsubt1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_aln/extra_filtering/02_MAFFT_subt2/01_perl_parsing/[1-6]*
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_aln/extra_filtering/02_MAFFT_subt2/02_mafft/mafft_rodsubt2

02_SeqBayes_S2/00_Data_filtering/00_data_curation/afrotheria/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/lagomorpha/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_therest/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/marsupialia/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_squirrel/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/xenarthra/filter_tree

02_SeqBayes_S2/00_Data_filtering/00_data_curation/afrotheria/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/afrotheria/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/afrotheria/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_tree_updcrh/01_Check_conflict/01_Chiroptera_subtree1/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_tree_updcrh/01_Check_conflict/01_Chiroptera_subtree1/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_tree_updcrh/01_Check_conflict/01_Chiroptera_subtree2/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/chiroptera/filter_tree_updcrh/01_Check_conflict/01_Chiroptera_subtree2/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/00_Filter_trees/486sp_Euarchonta_MCMCtree_calib_v2.tree
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/00_Filter_trees/Calibrations_Euarchonta_v2.R
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/00_Filter_trees/Calibrations_Euarchonta_v2.txt
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/01_Check_conflict_v2
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/01_Check_conflict/02_Prior_SBandSTtweak1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/euarchonta/filter_tree_updcrh/01_Check_conflict/03_Prior_SBandSTtweak2
02_SeqBayes_S2/00_Data_filtering/00_data_curation/lagomorpha/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/lagomorpha/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/lagomorpha/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/01_Check_conflict/02_Prior_SBandST_tweak1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/01_Check_conflict/03_Prior_SBandST_tweak2
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/01_Check_conflict_v2/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/01_Check_conflict_v2/02_Prior_SBandST_tweak1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_cetartiodactyla/filter_tree_updcrh/01_Check_conflict_v2/03_Prior_SBandST_tweak2
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_therest/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_therest/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_therest/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/laurasiatheria_therest/filter_tree_updcrh/01_Check_conflict/02_Prior_SBandST_tweak1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/marsupialia/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/marsupialia/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/marsupialia/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_ctenohystrica/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_squirrel/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_squirrel/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_squirrel/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/01_Check_conflict/01_Check_conflict_rodsubtree1/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/01_Check_conflict/01_Check_conflict_rodsubtree1/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/01_Check_conflict/01_Check_conflict_rodsubtree1/02_Prior_SBandST_tw1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/01_Check_conflict/01_Check_conflict_rodsubtree1/03_Prior_SBandST_tw2
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/01_Check_conflict/01_Check_conflict_rodsubtree2/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/01_Check_conflict/01_Check_conflict_rodsubtree2/01_Prior_SBandST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/rodentia_therest/filter_tree_updcrh/01_Check_conflict/01_Check_conflict_rodsubtree2/02_Prior_SBandST_tw1
02_SeqBayes_S2/00_Data_filtering/00_data_curation/xenarthra/filter_tree_updcrh/00_Filter_trees/RAxML_tree/RAxML_bestTree.BS_ML_GTRCAT
02_SeqBayes_S2/00_Data_filtering/00_data_curation/xenarthra/filter_tree_updcrh/01_Check_conflict/00_Prior_onlyST
02_SeqBayes_S2/00_Data_filtering/00_data_curation/xenarthra/filter_tree_updcrh/01_Check_conflict/01_Prior_SBandST

02_SeqBayes_S2/00_Data_filtering/01_alignments/00_mammal_alns
02_SeqBayes_S2/00_Data_filtering/01_alignments/Rout/Rdata

02_SeqBayes_S2/01_BASEML/*/

02_SeqBayes_S2/02_MCMCtree/

02_SeqBayes_S2/02_MCMCtree_updcrh/*/7
02_SeqBayes_S2/02_MCMCtree_updcrh/00_ESS_and_chain_convergence/out_data_old
02_SeqBayes_S2/02_MCMCtree_updcrh/00_ESS_and_chain_convergence/Calculate_ESS_with_outdataold.R

03_Extra_analyses/00_Data_filtering/00_partition_alignments
03_Extra_analyses/00_Data_filtering/alignments
03_Extra_analyses/01_BASEML
03_Extra_analyses/02_MCMCtree
03_Extra_analyses/03_Analyses/z_old/

calibrations/old_versions
calibrations/*xlsx